h1, h2 {
  font-family: sans-serif;
  text-align: center;
  text-shadow: 2px 1px 1px red, -2px -1px 1px blue, 8px 5px 8px #222;
  color: white;
}

#canvas {
  box-shadow: 10px 10px 5px #333;
  border: 3px solid #FFF;
  border-radius: 15px 15px;
  border-style: inset;
}

html {
  background: #829ce2;
}